<!DOCTYPE html>
<html lang="fr">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./styles/grid-examples-1.0.css">
    <link rel="stylesheet" href="./styles/style.css">
</head>

<body>
    <div class="page-title clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-12 clearfix d-flex align-items-center justify-content-between flex-wrap gap-2">
                    <h1 class="mb-0">Bootstrap Grid Examples</h1>
                    <a href="../index.html" class="btn btn-outline-primary btn-sm">
                        <i class="fa fa-arrow-left me-1"></i> Retour index
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header mb-3">
                    <h2>Mise en page de sites Web en deux colonnes <small>Tablettes, ordinateurs de bureau et grands
                            écrans</small>.</small></h2>
                    <p>Voici des exemples de mises en page de sites web à deux colonnes pour tablettes (portrait et
                        paysage), ordinateurs de bureau et grands ordinateurs de bureau.</p>
                    <p>Ces mises en page deviendront horizontales, c'est-à-dire qu'elles passeront à une mise en page en
                        une seule colonne sur les appareils mobiles.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!--Demo layout container-->
            <div class="col-lg-4">
                <!-- <iframe src="layout1.html"></iframe> -->
                <div class="wrapper">
                    <div class="demo-layout">
                        <div class="row">
                            <div class="col-12">
                                <div class="header"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="sidebar"></div>
                            </div>
                            <div class="col-6">
                                <div class="content"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="footer"></div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center">
                        <a href="./layout1.html" target="_blank" class="btn btn-success btn-sm me-2">
                            <i class="fa fa-eye"></i> Afficher le layout
                        </a>
                        <a href="#" class="btn btn-primary btn-sm me-2" data-bs-toggle="modal" data-bs-target="#codeModal1">
                            <i class="fa fa-code"></i> Voir le code
                        </a>
                        <a href="#" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#explainModal1">
                            <i class="fa fa-lightbulb-o"></i> Explication
                        </a>
                    </p>
                </div>
            </div>
            <!--Demo layout container-->
            <div class="col-lg-4">
                <div class="wrapper">
                    <div class="demo-layout">
                        <div class="row">
                            <div class="col-12">
                                <div class="header"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="sidebar"></div>
                            </div>
                            <div class="col-9">
                                <div class="content"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="footer"></div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center">
                        <a href="./layout2.html" target="_blank" class="btn btn-success btn-sm me-2">
                            <i class="fa fa-eye"></i> Afficher le layout
                        </a>
                        <a href="#" class="btn btn-primary btn-sm me-2" data-bs-toggle="modal" data-bs-target="#codeModal2">
                            <i class="fa fa-code"></i> Voir le code
                        </a>
                        <a href="#" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#explainModal2">
                            <i class="fa fa-lightbulb-o"></i> Explication
                        </a>
                    </p>
                </div>
            </div>
            <!--Demo layout container-->
            <div class="col-lg-4">
                <div class="wrapper">
                    <div class="demo-layout">
                        <div class="row">
                            <div class="col-12">
                                <div class="header"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-7">
                                <div class="content"></div>
                            </div>
                            <div class="col-5">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="sidebar-top"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="sidebar-bottom"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="footer"></div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center">
                        <a href="./layout3.html" target="_blank" class="btn btn-success btn-sm me-2">
                            <i class="fa fa-eye"></i> Afficher le layout
                        </a>
                        <a href="#" class="btn btn-primary btn-sm me-2" data-bs-toggle="modal" data-bs-target="#codeModal3">
                            <i class="fa fa-code"></i> Voir le code
                        </a>
                        <a href="#" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#explainModal3">
                            <i class="fa fa-lightbulb-o"></i> Explication
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="page-header mb-3">
                    <h2>Disposition des sites Web en trois colonnes <small>Tablettes (paysage), ordinateurs de bureau et
                            grands écrans</small></h2>
                    <p>Voici des exemples de mises en page de sites web à trois colonnes pour les ordinateurs de bureau
                        et les grands ordinateurs de bureau, ainsi que pour les tablettes (par exemple, l'iPad d'Apple)
                        en mode paysage.</p>
                    <p>Ces mises en page deviendront horizontales, c'est-à-dire qu'elles passeront à une seule colonne
                        sur les mobiles et les tablettes en mode portrait.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!--Demo layout container-->
            <div class="col-lg-4">
                <div class="wrapper">
                    <div class="demo-layout">
                        <div class="row">
                            <div class="col-12">
                                <div class="header"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="sidebar"></div>
                            </div>
                            <div class="col-4">
                                <div class="content"></div>
                            </div>
                            <div class="col-4">
                                <div class="sidebar"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="footer"></div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center">
                        <a href="./layout4.html" target="_blank" class="btn btn-success btn-sm me-2">
                            <i class="fa fa-eye"></i> Afficher le layout
                        </a>
                        <a href="#" class="btn btn-primary btn-sm me-2" data-bs-toggle="modal" data-bs-target="#codeModal4">
                            <i class="fa fa-code"></i> Voir le code
                        </a>
                        <a href="#" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#explainModal4">
                            <i class="fa fa-lightbulb-o"></i> Explication
                        </a>
                    </p>
                </div>
            </div>
            <!--Demo layout container-->
            <div class="col-lg-4">
                <div class="wrapper">
                    <div class="demo-layout">
                        <div class="row">
                            <div class="col-12">
                                <div class="header"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="sidebar"></div>
                            </div>
                            <div class="col-6">
                                <div class="content"></div>
                            </div>
                            <div class="col-3">
                                <div class="sidebar"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="footer"></div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center">
                        <a href="./layout5.html" target="_blank" class="btn btn-success btn-sm me-2">
                            <i class="fa fa-eye"></i> Afficher le layout
                        </a>
                        <a href="#" class="btn btn-primary btn-sm me-2" data-bs-toggle="modal" data-bs-target="#codeModal5">
                            <i class="fa fa-code"></i> Voir le code
                        </a>
                        <a href="#" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#explainModal5">
                            <i class="fa fa-lightbulb-o"></i> Explication
                        </a>
                    </p>
                </div>
            </div>
            <!--Demo layout container-->
            <div class="col-lg-4">
                <div class="wrapper">
                    <div class="demo-layout">
                        <div class="row">
                            <div class="col-12">
                                <div class="header"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="sidebar"></div>
                            </div>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="content-top"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="content-bottom"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="content-bottom bg-alt"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="sidebar"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="footer"></div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center">
                        <a href="./layout6.html" target="_blank" class="btn btn-success btn-sm me-2">
                            <i class="fa fa-eye"></i> Afficher le layout
                        </a>
                        <a href="#" class="btn btn-primary btn-sm me-2" data-bs-toggle="modal" data-bs-target="#codeModal6">
                            <i class="fa fa-code"></i> Voir le code
                        </a>
                        <a href="#" class="btn btn-info btn-sm me-2" data-bs-toggle="modal" data-bs-target="#explainModal6">
                            <i class="fa fa-lightbulb-o"></i> Explication
                        </a>
                        <a href="./layout6-2.html" target="_blank" class="btn btn-warning btn-sm">
                            <i class="fa fa-mobile"></i> Solution alternative
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="page-header mb-3">
                    <h2>Mises en page de sites Web convertibles en plusieurs colonnes <small>Mobiles, tablettes,
                            ordinateurs de bureau et grands écrans</small>.</small></h2>
                    <p>Voici des exemples de mises en page de sites web multi-colonnes qui modifient l'emplacement et/ou
                        la taille des colonnes en fonction de la largeur de la fenêtre de visualisation de l'appareil.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <!--Demo layout container-->
            <div class="col-lg-4">
                <div class="wrapper">
                    <div class="demo-layout">
                        <div class="row">
                            <div class="col-12">
                                <div class="header"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="intro"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="section"></div>
                            </div>
                            <div class="col-6">
                                <div class="section bg-alt"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="footer"></div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center">
                        <a href="./layout7.html" target="_blank" class="btn btn-success btn-sm me-2">
                            <i class="fa fa-eye"></i> Afficher le layout
                        </a>
                        <a href="#" class="btn btn-primary btn-sm me-2" data-bs-toggle="modal" data-bs-target="#codeModal7">
                            <i class="fa fa-code"></i> Voir le code
                        </a>
                        <a href="#" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#explainModal7">
                            <i class="fa fa-lightbulb-o"></i> Explication
                        </a>
                    </p>
                </div>
            </div>
            <!--Demo layout container-->
            <div class="col-lg-4">
                <div class="wrapper">
                    <div class="demo-layout">
                        <div class="row">
                            <div class="col-12">
                                <div class="header"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="intro"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="section"></div>
                            </div>
                            <div class="col-4">
                                <div class="section bg-alt"></div>
                            </div>
                            <div class="col-4">
                                <div class="section"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="footer"></div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center">
                        <a href="./layout8.html" target="_blank" class="btn btn-success btn-sm me-2">
                            <i class="fa fa-eye"></i> Afficher le layout
                        </a>
                        <a href="#" class="btn btn-primary btn-sm me-2" data-bs-toggle="modal" data-bs-target="#codeModal8">
                            <i class="fa fa-code"></i> Voir le code
                        </a>
                        <a href="#" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#explainModal8">
                            <i class="fa fa-lightbulb-o"></i> Explication
                        </a>
                    </p>
                </div>
            </div>
            <!--Demo layout container-->
            <div class="col-lg-4">
                <div class="wrapper">
                    <div class="demo-layout">
                        <div class="row">
                            <div class="col-12">
                                <div class="header"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="intro"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="section"></div>
                            </div>
                            <div class="col-3">
                                <div class="section bg-alt"></div>
                            </div>
                            <div class="col-3">
                                <div class="section"></div>
                            </div>
                            <div class="col-3">
                                <div class="section bg-alt"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="footer"></div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center">
                        <a href="./layout9.html" target="_blank" class="btn btn-success btn-sm me-2">
                            <i class="fa fa-eye"></i> Afficher le layout
                        </a>
                        <a href="#" class="btn btn-primary btn-sm me-2" data-bs-toggle="modal" data-bs-target="#codeModal9">
                            <i class="fa fa-code"></i> Voir le code
                        </a>
                        <a href="#" class="btn btn-info btn-sm me-2" data-bs-toggle="modal" data-bs-target="#explainModal9">
                            <i class="fa fa-lightbulb-o"></i> Explication
                        </a>
                        <div class="btn-group me-2" role="group">
                            <button type="button" class="btn btn-warning btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-mobile"></i> Solutions alternatives
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="./layout9-2.html" target="_blank">Layout 9-2 (sans md)</a></li>
                                <li><a class="dropdown-item" href="./layout9-3.html" target="_blank">Layout 9-3 (3 colonnes lg)</a></li>
                            </ul>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="page-footer">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>

    <!-- Container for dynamically loaded modals -->
    <div id="modals-container"></div>

    <!-- Script to load modals from external files -->
    <script>
        // Load code modals
        fetch('./modals-code.html')
            .then(response => response.text())
            .then(html => {
                document.getElementById('modals-container').insertAdjacentHTML('beforeend', html);
            })
            .catch(error => console.error('Error loading code modals:', error));
        
        // Load explanation modals
        fetch('./modals-explain.html')
            .then(response => response.text())
            .then(html => {
                document.getElementById('modals-container').insertAdjacentHTML('beforeend', html);
            })
            .catch(error => console.error('Error loading explanation modals:', error));
    </script>

    <!-- Bootstrap JS Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>
