<!-- Code Modals for Layout Examples -->

<!-- Modal Layout 1 -->
<div class="modal fade" id="codeModal1" tabindex="-1" aria-labelledby="codeModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="codeModalLabel1">Code - Layout 1 (2 colonnes égales)</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="code-container">&lt;div class="container-fluid"&gt;
    &lt;div class="row"&gt;
        &lt;div class="col-md-12"&gt;
            &lt;div class="header"&gt;&lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="row"&gt;
        &lt;div class="col-md-6"&gt;
            &lt;div class="content"&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="col-md-6"&gt;
            &lt;div class="content bg-alt"&gt;&lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="row"&gt;
        &lt;div class="col-md-12"&gt;
            &lt;div class="footer"&gt;&lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Layout 2 -->
<div class="modal fade" id="codeModal2" tabindex="-1" aria-labelledby="codeModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="codeModalLabel2">Code - Layout 2 (3 colonnes inégales)</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="code-container">&lt;div class="container"&gt;
    &lt;div class="row"&gt;
        &lt;div class="col-md-12"&gt;
            &lt;div class="header"&gt;&lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="row"&gt;
        &lt;div class="col-md-3"&gt;
            &lt;div class="sidebar"&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="col-md-9"&gt;
            &lt;div class="content"&gt;&lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="row"&gt;
        &lt;div class="col-md-12"&gt;
            &lt;div class="footer"&gt;&lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Layout 3 -->
<div class="modal fade" id="codeModal3" tabindex="-1" aria-labelledby="codeModalLabel3" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="codeModalLabel3">Code - Layout 3 (Content + Sidebars)</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="code-container">&lt;div class="container"&gt;
    &lt;div class="row"&gt;
        &lt;div class="col-md-12"&gt;&lt;div class="header"&gt;&lt;/div&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="row"&gt;
        &lt;div class="col-md-7"&gt;&lt;div class="content"&gt;&lt;/div&gt;&lt;/div&gt;
        &lt;div class="col-md-5"&gt;
            &lt;div class="row"&gt;&lt;div class="col-md-12"&gt;&lt;div class="sidebar-top"&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;
            &lt;div class="row"&gt;&lt;div class="col-md-12"&gt;&lt;div class="sidebar-bottom"&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="row"&gt;
        &lt;div class="col-md-12"&gt;&lt;div class="footer"&gt;&lt;/div&gt;&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Layout 4 -->
<div class="modal fade" id="codeModal4" tabindex="-1" aria-labelledby="codeModalLabel4" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="codeModalLabel4">Code - Layout 4 (3 colonnes égales)</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="code-container">&lt;div class="container"&gt;
    &lt;div class="row"&gt;&lt;div class="col-lg-12"&gt;&lt;div class="header"&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;
    &lt;div class="row"&gt;
        &lt;div class="col-lg-4"&gt;&lt;div class="sidebar"&gt;&lt;/div&gt;&lt;/div&gt;
        &lt;div class="col-lg-4"&gt;&lt;div class="content"&gt;&lt;/div&gt;&lt;/div&gt;
        &lt;div class="col-lg-4"&gt;&lt;div class="sidebar"&gt;&lt;/div&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="row"&gt;&lt;div class="col-lg-12"&gt;&lt;div class="footer"&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;
&lt;/div&gt;</div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Layout 5 -->
<div class="modal fade" id="codeModal5" tabindex="-1" aria-labelledby="codeModalLabel5" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="codeModalLabel5">Code - Layout 5 (3 colonnes inégales)</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="code-container">&lt;div class="container"&gt;
    &lt;div class="row"&gt;&lt;div class="col-lg-12"&gt;&lt;div class="header"&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;
    &lt;div class="row"&gt;
        &lt;div class="col-lg-3"&gt;&lt;div class="sidebar"&gt;&lt;/div&gt;&lt;/div&gt;
        &lt;div class="col-lg-6"&gt;&lt;div class="content"&gt;&lt;/div&gt;&lt;/div&gt;
        &lt;div class="col-lg-3"&gt;&lt;div class="sidebar"&gt;&lt;/div&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="row"&gt;&lt;div class="col-lg-12"&gt;&lt;div class="footer"&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;
&lt;/div&gt;</div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Layout 6 -->
<div class="modal fade" id="codeModal6" tabindex="-1" aria-labelledby="codeModalLabel6" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="codeModalLabel6">Code - Layout 6 (3 colonnes complexes)</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="code-container">&lt;div class="container-fluid"&gt;
    &lt;div class="row"&gt;&lt;div class="col-md-12"&gt;&lt;div class="header"&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;
    &lt;div class="row"&gt;
        &lt;div class="col-3"&gt;&lt;div class="sidebar"&gt;&lt;/div&gt;&lt;/div&gt;
        &lt;div class="col-md-7"&gt;
            &lt;div class="row"&gt;&lt;div class="col-md-12"&gt;&lt;div class="content-top"&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;
            &lt;div class="row"&gt;
                &lt;div class="col-md-6"&gt;&lt;div class="content-bottom"&gt;&lt;/div&gt;&lt;/div&gt;
                &lt;div class="col-md-6"&gt;&lt;div class="content-bottom bg-alt"&gt;&lt;/div&gt;&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="col-2"&gt;&lt;div class="sidebar"&gt;&lt;/div&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="row"&gt;&lt;div class="col-md-12"&gt;&lt;div class="footer"&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;
&lt;/div&gt;</div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Layout 7 -->
<div class="modal fade" id="codeModal7" tabindex="-1" aria-labelledby="codeModalLabel7" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="codeModalLabel7">Code - Layout 7 (Layout convertible)</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="code-container">&lt;div class="container"&gt;
    &lt;div class="row"&gt;&lt;div class="col-12"&gt;&lt;div class="header"&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;
    &lt;div class="row"&gt;&lt;div class="col-12"&gt;&lt;div class="intro"&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;
    &lt;div class="row"&gt;
        &lt;div class="col-6"&gt;&lt;div class="section"&gt;&lt;/div&gt;&lt;/div&gt;
        &lt;div class="col-6"&gt;&lt;div class="section bg-alt"&gt;&lt;/div&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="row"&gt;&lt;div class="col-12"&gt;&lt;div class="footer"&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;
&lt;/div&gt;</div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Layout 8 -->
<div class="modal fade" id="codeModal8" tabindex="-1" aria-labelledby="codeModalLabel8" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="codeModalLabel8">Code - Layout 8 (3 colonnes convertible)</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="code-container">&lt;div class="container"&gt;
    &lt;div class="row"&gt;&lt;div class="col-md-12"&gt;&lt;div class="header"&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;
    &lt;div class="row"&gt;&lt;div class="col-md-12"&gt;&lt;div class="intro"&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;
    &lt;div class="row"&gt;
        &lt;div class="col-md-6 col-lg-4"&gt;&lt;div class="section"&gt;&lt;/div&gt;&lt;/div&gt;
        &lt;div class="col-md-6 col-lg-4"&gt;&lt;div class="section bg-alt"&gt;&lt;/div&gt;&lt;/div&gt;
        &lt;div class="col-md-12 col-lg-4"&gt;&lt;div class="section"&gt;&lt;/div&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="row"&gt;&lt;div class="col-md-12"&gt;&lt;div class="footer"&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;
&lt;/div&gt;</div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Layout 9 -->
<div class="modal fade" id="codeModal9" tabindex="-1" aria-labelledby="codeModalLabel9" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="codeModalLabel9">Code - Layout 9 (4 colonnes convertible)</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="code-container">&lt;div class="container"&gt;
    &lt;div class="row"&gt;&lt;div class="col-md-12"&gt;&lt;div class="header"&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;
    &lt;div class="row"&gt;&lt;div class="col-md-12"&gt;&lt;div class="intro"&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;
    &lt;div class="row"&gt;
        &lt;div class="col-md-6 col-lg-4 col-xl-3"&gt;&lt;div class="section"&gt;&lt;/div&gt;&lt;/div&gt;
        &lt;div class="col-md-6 col-lg-4 col-xl-3"&gt;&lt;div class="section bg-alt"&gt;&lt;/div&gt;&lt;/div&gt;
        &lt;div class="clearfix visible-sm-block"&gt;&lt;/div&gt;
        &lt;div class="col-md-6 col-lg-4 col-xl-3"&gt;&lt;div class="section"&gt;&lt;/div&gt;&lt;/div&gt;
        &lt;div class="col-md-6 col-lg-12 col-xl-3"&gt;&lt;div class="section bg-alt"&gt;&lt;/div&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="row"&gt;&lt;div class="col-md-12"&gt;&lt;div class="footer"&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;
&lt;/div&gt;</div>
            </div>
        </div>
    </div>
</div>
